<form action="/submit" method="POST" class="parent"> 
    <table cellpadding=5px>
    	<tr><td>RAM</td><td><input type="text" name="ram" id="ram"></td></tr>
    	<tr><td>Size</td><td><input type="text" name="size" id="size"></td></tr>
    	<tr><td>Duration</td><td><input type="number" name="dur" id="dur"></td></tr>
    	<tr><td>From</td><td><input type="text" placeholder="YYYY-MM-DD" name="dur_f" id="dur_f"></td></tr>
    	<tr><td>Till</td><td><input type="text" placeholder="YYYY-MM-DD" name="dur_t" id="dur_t"></td></tr>
        <tr><td>Container Id</td><td><input type="text" name="cont_id" id="cont_id"></td></tr>
        <tr><td>Host IP</td><td><input type="text" name="host_ip" id="host_ip"></td></tr>
        <tr><td>Host Port</td><td><input type="text" name="host_port" id="host_port"></td></tr>
        <tr><td>Username</td><td><input type="text" name="username" id="username"></td></tr>
        <tr><td>Cost</td><td><input type="number" name="cost" id="cost"></td></tr>
    <tr><td><input type="submit"></td><td></td></tr>
    </table>
</form> 